<div class="row">
	<div class="col-sm-1 col-sm-offset-3 col-xs-2 col-xs-offset-3">
		<a href="https://twitter.com/shirlmeow">
			<img src="/images/svg/twitter1.svg">
		</a>
	</div>
	<div class="col-sm-1 col-xs-2">
		<a href="https://www.linkedin.com/in/shirleymiao">
			<img src="/images/svg/linkedin12.svg">
		</a>
	</div>
	<div class="col-sm-1 col-xs-2">
		<a href="https://github.com/shirleymiao">
			<img src="/images/svg/github12.svg">
		</a>
	</div>
	<div class="col-sm-1 col-sm-offset-0 col-xs-2 col-xs-offset-3">
		<a href="https://www.facebook.com/shirley.miao">
			<img src="/images/svg/facebook24.svg">
		</a>
	</div>
	<div class="col-sm-1 col-xs-2">
		<a href="/resume.pdf">
			<img src="/images/svg/document209.svg">
		</a>
	</div>
	<div class="col-sm-1 col-xs-2">
		<a href="mailto:shirleycmiao@gmail.com">
			<img src="/images/svg/mail59.svg">
		</a>
	</div>
</div>