
a { color: inherit; }

a:hover {
    color: #707070;
}

/* LAYOUT STYLES */
body {
  font-size: 2em;
  line-height: 1.5;
  background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  font-weight: 100;
  color: #303030;
  left: 0;
  right: 0;
  margin: 0 auto;
}

header {
  padding-top: 35px;
  padding-bottom: 25px;
}

header h1 {
  font-family: 'Helvetica', Helvetica, Arial; font-weight: 100;
  letter-spacing: -1px;
  font-size: 48px;
  color: #303030;
  line-height: 1.2;
}

header h2 {
  letter-spacing: -1px;
  font-size: 24px;
  color: #777;
  font-weight: normal;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
}

#main-content {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.inner {
  max-width: 820px;
  width: 90%;
}

.links {
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  width: 300px;
}

#inner-bg {
  left:0;
  right:0;
  width:70%;
  height:100%;
  top:0px;
  bottom:0px;
  z-index: -1;
}

/* GRID LAYOUT STYLES */
.grid-item {
  background-color: white;
  display: inline-block;
}

.brightness {
  width: 200px;
}

.brightness img:hover {
  opacity: 0.5;
}
