<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/javascripts/jquery_2.1.1min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <title>Shirley Miao</title>
  </head>

  <body>
    <div id="container">
      <img id="bgImage" src="/images/IMG_5263E.png"/>
      <div id= "innerBg" class="inner">
        <div id="bodyContent"class="inner">

          <header>
            <h1>shirley miao</h1>
            <h2>{{ page.title }}</h2>
          </header>

          <hr>

          <section id="main_content">

            <h5>
              {{ content }}

            </h5>

          </section>

          <hr>
          <div id= "contactButtons">
            <section id="downloads" class="clearfix">
              <a href="https://github.com/shirleymiao" id="view-on-github" class="button" target= "_blank"><span>GitHub</span></a>
            </section>

            <section id="downloads-tw" class="clearfix">
              <a href="https://twitter.com/shirlmeow" id="view-on-twitter" class="button" target= "_blank"><span>Twitter</span></a>
            </section>

            <section id="downloads-li" class="clearfix">
              <a href="http://www.linkedin.com/in/shirleymiao" id="view-on-linkedin" class="button" target= "_blank"><span>LinkedIn</span></a>
            </section>

            <section id="downloads-em" class="clearfix">
              <a href="mailto:shirleycmiao@gmail.com" id="view-on-email" class="button"><span>Inbox</span></a>
            </section>
          </div>

          <footer>
            Theme modified from <a href="https://twitter.com/jasonlong" target= "_blank">Jason Long</a>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>