<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css" media="screen" />
    <script type="text/javascript" src="/javascripts/jquery_2.1.1min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
    <title>Shirley Miao</title>
  </head>

  <body data-spy="scroll" data-target=".navbar-fixed-top">
    <div id= "inner-bg" class="inner container">
      <header style="text-align:center">
        <a href="/">
          <h1>shirley miao</h1>
        </a>
        <br>
        {% include links.html %}
      </header>
      <hr>

      <section id="main-content">
        <h5>
          {{ content }}
        </h5>
      </section>
      <hr>
      <br><br>
    </div>
  </body>
</html>
